body {
  font-family: Verdana;
  background-color: #000;
}

h1 {
	font-size: 50px;
	font-weight: normal;
	color: #FFF;
	text-align: center;
}

h2 {
	font-size: 42px;
	font-weight: 300;
	color: #FFF;
	text-align: center;
}

.downloadLinks {
	font-size: 16px;
	text-align: center;
}

a:link, a:active, a:hover, a:visited {
	color: #7FFFD4;
}

p {
	font-size: 21px;
	color: #808080;
	text-align: center;
}

.elements {
	align: center;
}

.footer {
	font-size: 21px;
	color: #808080;
	text-align: right;
}
